.contenedor-registro {
  width: 100%;
  min-height: calc(100vh - 80px); /* Resta la altura aproximada del navbar */
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contenedor-registro {
    min-height: calc(100vh - 60px);
    padding: 5px;
  }
}